@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    @apply bg-persona-black text-persona-white font-ui;
    --theme-accent: #e60012;
    /* Default */
}

/* Themes */
.theme-red {
    --theme-accent: #e60012;
}

.theme-blue {
    --theme-accent: #0095f6;
}

/* Blue (P3) */
.theme-yellow {
    --theme-accent: #f5c400;
}

/* Yellow (P4) */
.theme-purple {
    --theme-accent: #9d50bb;
}

/* Purple (P1) */


h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-display uppercase;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #0b0b0b;
}

::-webkit-scrollbar-thumb {
    background: #e60012;
}